name: Deploy Contracts

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3

      - name: Copy core folders
        run: |
          mkdir output
          cp -r contracts/ output/contracts/
          cp -r foundry.toml output/foundry.toml
          cp -r LICENSE output/LICENSE
          cp -r package.json output/package.json
          cp -r README.md output/README.md
          cp -r test/ output/test/

      - name: Deploy
        # https://github.com/JamesIves/github-pages-deploy-action
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # gh-pages
          branch: main
          folder: output
          git-config-name: Joe Lubin
          git-config-email: joe@consensys.net
          commit-message: "Always be lubin"
          repository-name: SomETHingdotfun/contracts
          token: ${{ secrets.TOKEN_GITHUB }}
